<div id="form-container">
  <div class="row">
    <form class="col s12" #userForm="ngForm" (ngSubmit)='cadastrar(user); userForm.reset()' ngNativeValidate>
      <div class="row">
        <div class="input-field col s6">
          <input required id="first_name" type="text" class="validate" [(ngModel)]='user.firstName' name='firstName'>
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input required id="last_name" type="text" class="validate" [(ngModel)]='user.lastName' name='lastName'>
          <label for="last_name">Last Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input required id="password" type="password" class="validate" [(ngModel)]='user.password' name='password'>
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input required id="email" type="email" class="validate" [(ngModel)]='user.email' name='email'>
          <label for="email">Email</label>
        </div>
      </div>

      <button [disabled]='!userForm.form.valid' class="btn waves-effect waves-light right blue" type="submit" name="action">Cadastrar
        <i class="fas fa-paper-plane"></i>
      </button>
    </form>
  </div>

</div>
