<ul id="emergencias" class="dropdown-content">
  <li>
    <a [routerLink]="['/place', 'fire_station']">Bombeiros</a>
  </li>
  <li class="divider"></li>

  <li>
    <a [routerLink]="['/place', 'police']">Delegacias</a>
  </li>
  <li class="divider"></li>

  <li>
    <a [routerLink]="['/place', 'hospital']">Hospitais</a>
  </li>
  <li class="divider"></li>
  <li>
    <a [routerLink]="['/place', 'doctor']">Clínicas médicas</a>
  </li>
</ul>

<ul id="explore" class="dropdown-content">
  <li>
    <a href="#!">Hoteis</a>
  </li>

  <li class="divider"></li>

  <li>
    <a [routerLink]="['/place', 'restaurant']">Restaurantes</a>
  </li>
  <li class="divider"></li>

  <li>
    <a href="#!">Praias</a>
  </li>
  <li class="divider"></li>

  <li>
    <a [routerLink]="['/place', 'school']">Escolas</a>
  </li>

</ul>

<ul id="eventos" class="dropdown-content">
  <li>
    <a [routerLink]="['/place', 'bar']">Bares</a>
  </li>
  <li class="divider"></li>
  <li>
    <a [routerLink]="['/place', 'night_club']">Boates</a>
  </li>

</ul>

<ul id="tema" class="dropdown-content">
  <li>
    <a href="#!">Dark</a>
  </li>
  <li>
    <a href="#!">Light</a>
  </li>

</ul>

<ul id="mobile-menu" class="dropdown-content">
  <li>
    <a href="">Restaurantes</a>
  </li>
  <li>
    <a href="">Bares</a>
  </li>

  <li>
    <a href="">Boates</a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="">Delegacias</a>
  </li>

  <li>
    <a href="">Bombeiros</a>
  </li>

  <li>
    <a href="">Hospitais</a>
  </li>

</ul>

<nav>
  <div class="nav-wrapper">
    <a [routerLink]="['']">
      <i class="home material-icons left">home</i>
    </a>

    <ul class="hide-on-med-and-down">
      <!-- Dropdown Trigger -->
      <li>
        <a class="dropdown-button"  data-activates="emergencias">Emergências
          <i class="material-icons right arrow_drop">arrow_drop_down</i>
        </a>
      </li>

      <li>
        <a class="dropdown-button"  data-activates="explore">Explorar
          <i class="material-icons right arrow_drop">arrow_drop_down</i>
        </a>
      </li>

      <li>
        <a class="dropdown-button"  data-activates="eventos">Eventos
          <i class="material-icons right arrow_drop">arrow_drop_down</i>
        </a>
      </li>

      <li>
        <a class="dropdown-button right"  data-activates="tema">Troque o tema
          <i class="material-icons right arrow_drop">arrow_drop_down</i>
        </a>
      </li>

      <li class="right">
        <a [routerLink]="['/login']">Entrar</a>

        <!-- <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
          </div>
        </div> -->
      </li>
    </ul>
    <ul class="hide-on-large-only mobile-drop">
      <li>
        <a class="dropdown-button" data-activates="mobile-menu">
          <i class="material-icons">menu</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
