<ul id="emergencias" class="dropdown-content">
  <li>
    <a [routerLink]="['/place', 'fire_station']">Bombeiros</a>
  </li>
  <li class="divider"></li>

  <li>
    <a [routerLink]="['/place', 'police']">Delegacias</a>
  </li>
  <li class="divider"></li>

  <li>
    <a [routerLink]="['/place', 'hospital']">Hospitais</a>
  </li>
  <li class="divider"></li>
  <li>
    <a [routerLink]="['/place', 'doctor']">Clínicas médicas</a>
  </li>
</ul>

<ul id="explore" class="dropdown-content">
  <li>
    <a [routerLink]="['/place', 'hotel']">Hoteis</a>
  </li>

  <li class="divider"></li>

  <li>
    <a [routerLink]="['/place', 'restaurant']">Restaurantes</a>
  </li>
  <li class="divider"></li>

  <li>
    <a [routerLink]="['/place', 'praia']">Praias</a>
  </li>
  <li class="divider"></li>

  <li>
    <a [routerLink]="['/place', 'school']">Escolas</a>
  </li>

</ul>

<ul id="eventos" class="dropdown-content">
  <li>
    <a [routerLink]="['/place', 'bar']">Bares</a>
  </li>
  <li class="divider"></li>
  <li>
    <a [routerLink]="['/place', 'night_club']">Boates</a>
  </li>

</ul>

<ul id="tema" class="dropdown-content">
  <li>
    <a onclick="changeTheme(this)">Dark</a>
  </li>
  <li>
    <a onclick="changeTheme(this)">Light</a>
  </li>

</ul>

<ul id="mobile-menu" class="dropdown-content">
  <li>
    <a [routerLink]="['/favorites']"> Favoritos</a>
  </li>
  <li class="divider"></li>
  <li>
    <a [routerLink]="['/place', 'restaurant']">Restaurantes</a>
  </li>
  <li>
    <a [routerLink]="['/place', 'bar']">Bares</a>
  </li>

  <li>
    <a [routerLink]="['/place', 'night_club']">Boates</a>
  </li>
  <li class="divider"></li>
  <li>
    <a [routerLink]="['/place', 'police']">Delegacias</a>
  </li>

  <li>
    <a [routerLink]="['/place', 'fire_station']">Bombeiros</a>
  </li>

  <li>
    <a [routerLink]="['/place', 'hospital']">Hospitais</a>
  </li>
  <li class="divider"></li>
  <li>
    <a *ngIf="!userIsLogged()" [routerLink]="['/login']">Entrar</a>
    <a *ngIf="userIsLogged()" (click)="logout()">Sair</a>
  </li>

</ul>

<ul id="account" class="dropdown-content">
  <li>
    <a [routerLink]="['/favorites']"> Favoritos</a>
  </li>
  <li>
    <a *ngIf="!userIsLogged()" [routerLink]="['/login']">Entrar</a>
    <a *ngIf="userIsLogged()" (click)="logout()">Sair</a>
  </li>
</ul>
<div class="navbar">
  <nav>
    <div class="nav-wrapper">
      <a [routerLink]="['']">
        <i class="home material-icons left">home</i>
      </a>

      <ul class="hide-on-med-and-down">
        <!-- Dropdown Trigger -->
        <li>
          <a class="dropdown-button" data-activates="emergencias">Emergências
            <i class="material-icons right arrow_drop">arrow_drop_down</i>
          </a>
        </li>

        <li>
          <a class="dropdown-button" data-activates="explore">Explorar
            <i class="material-icons right arrow_drop">arrow_drop_down</i>
          </a>
        </li>

        <li>
          <a class="dropdown-button" data-activates="eventos">Eventos
            <i class="material-icons right arrow_drop">arrow_drop_down</i>
          </a>
        </li>

        <li>
          <a class="dropdown-button right" data-activates="tema">Tema
            <i class="material-icons right arrow_drop">arrow_drop_down</i>
          </a>
        </li>

        <li [hidden]="!userIsLogged()" class="right account-container">
          <img *ngIf="photo" [src]="photo" class="dropdown-button" data-activates="account">
          <i *ngIf="!photo" class="large material-icons dropdown-button account-icon" data-activates="account">account_circle</i>
          <i class="material-icons right arrow_drop dropdown-button" data-activates="account">arrow_drop_down</i>
        </li>

        <li class="right" [hidden]="userIsLogged()">
          <a [routerLink]="['/login']">Entrar</a>
        </li>
      </ul>
      <ul class="hide-on-large-only mobile-drop">
        <li>
          <a class="dropdown-button" data-activates="mobile-menu">
            <i class="material-icons">menu</i>
          </a>
        </li>

      </ul>
    </div>
  </nav>
</div>
