<ul id="emergencias" class="dropdown-content">
  <li>
    <a href="#!">Bombeiros</a>
  </li>
  <li>
    <a href="#!">Delegacias</a>
  </li>
  <li>
    <a href="#!">Postos de Saúde</a>
  </li>
  <li class="divider"></li>
  <li>
    <a [routerLink]="['banheiros']">Banheiros</a>
  </li>
</ul>

<ul id="explore" class="dropdown-content">
  <li>
    <a href="#!">Hoteis</a>
  </li>
  <li>
    <a href="#!">Restaurantes</a>
  </li>

  <li>
    <a href="#!">Praias</a>
  </li>

  <li>
    <a href="#!">Escolas</a>
  </li>

</ul>

<ul id="eventos" class="dropdown-content">
  <li>
    <a href="#!">Jogos Olímpicos</a>
  </li>
  <li>
    <a href="#!">Pontos Turísticos</a>
  </li>

</ul>

<ul id="tema" class="dropdown-content">
  <li>
    <a href="#!">Dark</a>
  </li>
  <li>
    <a href="#!">Light</a>
  </li>

</ul>


<nav>
  <div class="nav-wrapper">
    <a [routerLink]="['']" class="">
      <i class="home material-icons left">home</i>
    </a>

    <ul class="right hide-on-med-and-down">
      <!-- Dropdown Trigger -->
      <li>
        <a class="dropdown-button" href="#!" data-activates="emergencias">Emergências
          <i class="material-icons right arrow_drop">arrow_drop_down</i>
        </a>
      </li>

      <li>
        <a class="dropdown-button" href="#!" data-activates="explore">Explore
          <i class="material-icons right arrow_drop">arrow_drop_down</i>
        </a>
      </li>

      <li>
        <a class="dropdown-button" href="#!" data-activates="eventos">Eventos
          <i class="material-icons right arrow_drop">arrow_drop_down</i>
        </a>
      </li>

      <li>
        <a class="dropdown-button right" href="#!" data-activates="tema">Troque o tema
          <i class="material-icons right arrow_drop">arrow_drop_down</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
