nav ul a {
  font-weight: 900;
}

.dropdown-button.active > .arrow_drop {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: 0.7s;
  -ms-transition: 0.7s;
  -webkit-transition: 0.7s;
}

.dropdown-button > .arrow_drop {
  transition: 0.7s;
  -ms-transition: 0.7s;
  -webkit-transition: 0.7s;
}

ul .dropdown-content {
  top: 65px !important;
}

nav .home {
  font-size: 30px !important;
  margin-left: 20px;
}

#mobile-menu {
  width: 150px !important;
  position: absolute;
  left: -35px !important;
}

.mobile-drop {
  position: absolute;
  right: 20px;
  top: 0px;
}

li .account-container {
  margin-right: 35px;
}

li .account-container:hover,
.arrow_drop:hover,
.account-container img:hover {
  cursor: pointer;
}

.account-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 8px;
}

ul * {
  color: pink;
}