<h4 class="header">{{ place?.name }} <span class="right place-icon"><img [src]="place?.icon" alt=""></span></h4>
<div class="card horizontal">
  <div class="card-image">
    <img src="assets/lapa.jpg">
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <p>
        <span class='strong'>Endereço:</span> {{ place?.vicinity }}</p>
      <p>
        <span class="strong">Avaliação:</span>
        <span *ngIf="place?.rating" class="fa fa-star" [ngClass]="{'checked': place?.rating >=1 }"></span>
        <span *ngIf="place?.rating" class="fa fa-star" [ngClass]="{'checked': place?.rating >=2 }"></span>
        <span *ngIf="place?.rating" class="fa fa-star" [ngClass]="{'checked': place?.rating >=3 }"></span>
        <span *ngIf="place?.rating" class="fa fa-star" [ngClass]="{'checked': place?.rating >=4 }"></span>
        <span *ngIf="place?.rating" class="fa fa-star" [ngClass]="{'checked': place?.rating >=5 }"></span>
        {{ place?.rating }}
      </p>
      <p>
        <span class="strong">Status:</span>
        <span class="opening-result" [ngClass]="{'open': place?.opening_hours?.open_now == true, 'closed':  place?.opening_hours?.open_now == false}"></span>
      </p>
    </div>
    <div class="card-action">
      <a href="#">Ver detalhes</a>
    </div>
  </div>
</div>
