<div class="card horizontal">
  <div class="card-image">
    <img src="http://via.placeholder.com/350x350">
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <!-- <i id="favorite-icon" (click)="addOrRemovePlace($event, place)" class="material-icons medium right favorite">favorite_border</i> -->
      <div class="icon-container" (click)="addOrRemovePlace($event, place)">
        <i class="far fa-heart fa-2x right" [ngClass]="{'fas' : isFavorited == true}"></i>
      </div>
      <h5 class="">
        <span class=" place-icon">
          <img [src]="place?.icon" alt="">
        </span>
        {{ place?.name }}
      </h5>
      <p>
        <span class='strong'>Endereço:</span> {{ place?.vicinity }}</p>
      <p>
        <span class="strong">Avaliação:</span>
        <span *ngIf="place?.rating" class="fa fa-star" [ngClass]="{'checked': place?.rating >=1 }"></span>
        <span *ngIf="place?.rating" class="fa fa-star" [ngClass]="{'checked': place?.rating >=2 }"></span>
        <span *ngIf="place?.rating" class="fa fa-star" [ngClass]="{'checked': place?.rating >=3 }"></span>
        <span *ngIf="place?.rating" class="fa fa-star" [ngClass]="{'checked': place?.rating >=4 }"></span>
        <span *ngIf="place?.rating" class="fa fa-star" [ngClass]="{'checked': place?.rating >=5 }"></span>
      </p>
      <p>
        <span class="strong">Status:</span>
        <span class="opening-result" [ngClass]="{'open': place?.opening_hours?.open_now == true, 'closed':  place?.opening_hours?.open_now == false}"></span>
      </p>
    </div>
    <div class="card-action">
      <a [routerLink]="[place.id]">Ver detalhes</a>
    </div>
  </div>
</div>
