  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://via.placeholder.com/350x350">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{card.title}}
        <i class="material-icons right">add</i>
      </span>
      <p>
        <a class="activator">Saiba mais</a>
      </p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{card.title}}
        <i class="material-icons right">close</i>
      </span>
      <p>{{ card.description }}</p>
    </div>
  </div>