.collapsible-header {
  position: relative;
}

.expand-right {
  position: absolute;
  right: 30px;
  top: 15px;
}

.margin-left {
  margin-left: 10px;
}

.filter-body {
  margin-left: 20px;
}

.filter-panel {
  border: 1px #dedede solid;
  box-shadow: 3px 3px 10px #e1e1e1;
  margin: 7px !important;
}

.filter {
  border: 1px #dedede solid;
  padding: 20px;
  margin: 10px 0;
}

.no-result-container {
  margin: 0 20px  !important;
}

.fa-search{
  transform: rotate(90deg);
  margin-right: 15px;
}