<div id="form-container">
  <div class="row">
    <form class="col s12" #loginForm="ngForm" (ngSubmit)='login(); loginForm.reset()' ngNativeValidate>
      <div class="row">
        <div class="input-field col s12">
          <input required id="username" type="email" class="validate" [(ngModel)]='user.email' name='name'>
          <label for="username">Login</label>
        </div>

      </div>
      <div class="row">
        <div class="input-field col s12">
          <input required id="password" type="password" class="validate" [(ngModel)]='user.password' name='password'>
          <label for="password">Senha</label>
        </div>
      </div>
      <!-- <p>Ainda não possui cadastro? Cadastre-se <a [routerLink]="['/cadastro']">aqui</a></p> -->
      <button class="btn waves-effect waves-light right blue" type="submit" name="action">Login
        <i class="material-icons right">send</i>
      </button>

      <div class="hr-line">
        <span class="or">OR</span>
        <hr>
      </div>
      <firebase-ui (signInSuccess)="successCallback($event)"></firebase-ui>

    </form>
  </div>
</div>
