<div *ngIf="favorites.value.length <= 0" class="nothing-to-show-container">
  <h3><i class="fas fa-frown"></i><span class="margin-left">Você ainda não tem lugares favoritos</span></h3>
  <h5>Por que não procura por lugares legais e os favorita para que possam aparecer aqui?</h5>
</div>


<div *ngIf="favorites.value.length > 0" class="col s12 m6 l6 xl6 places-panel">
  <h3>Seus lugares favoritos estão aqui</h3>

  <div *ngFor="let place of favorites.value | searchPipe: searchText | activePipe: activeSearch">
    <app-place [place]="place"></app-place>
  </div>
</div>
