#banner {
  background: url("../../assets/bg-index.jpg") no-repeat center right fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

img.activator {
  width: 100%;
  height: auto;
}

.card-row {
  margin-top: 230px;
}

.banner-content {
  margin-top: 150px;
}

.banner-text{
  color: #fff;
  font-weight: bolder;
  font-size: 24px
}
