<div class="container-all">
  <div class="place-detail-container">
    <h1>{{ place?.name }}</h1>
    <h6>Categoria: {{ place?.types[0] }}</h6>
    <div class="rating">
      {{ place?.rating }}
      <span *ngIf="place?.rating" class="fa fa-star checked"></span>
    </div>
    <p>{{ place?.vicinity }}</p>

    <div class="place-image">
      <img src="http://via.placeholder.com/800x400" alt="">
    </div>

  </div>
  <div class="map-container">
    <agm-map [latitude]="place?.geometry.location.lat" [longitude]="place?.geometry.location.lng" [zoom]="15" [disableDefaultUI]="false"
      [zoomControl]="true">

      <agm-marker [latitude]="place?.geometry.location.lat" [longitude]="place?.geometry.location.lng" [label]="place?.name">
      </agm-marker>

      <agm-marker [latitude]="userLocation?.lat" [longitude]="userLocation?.lng" label="You">
      </agm-marker>

      <agm-polyline [visible]="true" [strokeWeight]="3" strokeColor="blue">
        <agm-polyline-point [latitude]="place?.geometry.location.lat" [longitude]="place?.geometry.location.lng">

        </agm-polyline-point>

        <agm-polyline-point [latitude]="userLocation?.lat" [longitude]="userLocation?.lng">

        </agm-polyline-point>
      </agm-polyline>
      <!-- <sebm-google-map-directions [origin]="origin" [destination]="destination"></sebm-google-map-directions> -->
    </agm-map>

    <!-- <sebm-google-map>
      <sebm-google-map-directions [origin]="origin" [destination]="destination"></sebm-google-map-directions>
    </sebm-google-map> -->
  </div>

</div>
<div id="map"></div>
