/* You can add global styles to this file, and also import other style files */

:root {
  --theme-bg-color: #000;
  --body-bg-color: #f1f1f1;
  --footer-height: 250px;
}

.banner-content .btn,
footer,
nav {
  background-color: var(--theme-bg-color) !important;
}

body,
html {
  width: 100%;
  height: 100%;
  padding-bottom: var(--footer-height) !important;
}
main {
  padding-bottom: var(--footer-height) !important;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

footer {
  width: 100%;
  height: var(--footer-height) !important;
}

/* .firebaseui-idp-text-long{
  display: none !important;
} */

.firebaseui-idp-text-short, .firebaseui-idp-text-short {
  width: 15px !important;
}