<div id="banner">

</div>

<div class="banner-content center-align">
  <p class="banner-text">Conheça o Rio de Janeiro da forma mais eficiente possível. </p>
  <p class="banner-text">Planeje os passeios e divirta-se na cidade maravilhosa!</p>
  <a class="waves-effect waves-light btn white-text">Quero conhecer</a>
</div>

<div class="container">

  <div class="row card-row">
    <h3>Alguns dos lugares mais frequentados da cidade</h3>

    <div class="col s4" *ngFor="let card of cards">
      <app-card [card]="card"></app-card>
    </div>
  </div>
</div>
