<div id="banner">

</div>

<div class="banner-content right-align">
  <div class="banner-container">
    <p class="banner-text1">Conheça o Rio de Janeiro da forma mais eficiente possível. </p>
    <p class="banner-text2">Planeje os passeios e divirta-se na cidade maravilhosa!</p>
  </div>
</div>

<div class="container">

  <div class="row card-row">
    <h3>Alguns dos lugares mais frequentados da cidade</h3>

    <div class="col s4" *ngFor="let card of cards">
      <app-card [card]="card"></app-card>
    </div>
  </div>
</div>
